body {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}
#header {
    color: white;
    display: flex;
    padding-top: 20px;
    height: 265px;
    background-color: #6943FF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
#inputNum {
    text-align: center;
    font-size: 58px;
    color: white;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
}
#convertBtn {
    background-color: white;
    width: 117px;
    height: 42px;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
}
#conversions {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #1F2937;
}
#length {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110px;
    background-color: #273549;
    width: 500px;
}
#volume {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110px;
    background-color: #273549;
    width: 500px;
}
#mass {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110px;
    background-color: #273549;
    width: 500px;
    gap: 0px;
}
h2 {
    font-size: 20px;
    margin: 0px;
    color: #CCC1FF;
}
p {
    margin: 0px;
    margin-top: 15px;
    color: white;
    font-size: 14px;
}
